body {
    user-select: none;
}

#backtosite {
    border: 0px;
    padding: 10px 70px;
    background-color: #383838;
    color: white;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#signin,
#signout {
    border: 0px;
    padding: 10px 70px;
    background-color: #383838;
    color: white;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: none;
    border-radius: 8px;
}

#checksave {
    padding: 10px 20px;
    color: red;
    height: 50px;
    text-align: center;
    display: none;
}

#filename {
    width: calc(100% - 40px);
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
    word-wrap: break-word;
}

textarea {
    width: calc(100% - 40px);
    height: 450px;
    margin: 20px auto;
    margin-left: 20px;
    background-color: rgb(224, 224, 224, 0.2);
    border: 2px solid rgb(224, 224, 224, 1);
    outline: none;
    padding: 10px 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.upload {
    border: 0px;
    outline: none;
    padding: 8px 14px;
    display: block;
    font-size: large;
    border: 2px solid rgb(224, 224, 224, 1);
    border-radius: 38px;
    margin-right: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    float: right;
    color: #3c84f8;
}

.upload:hover {
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.upload:active {
    background: #b9c2cf;
}

.list ul li {
    list-style: none;
    background-color: #3c84f8;
    color: white;
    display: inline-block;
    padding: 15px 60px 15px 20px;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.list ul li span {
    position: relative;
    top: -1px;
}

.list ul li svg {
    fill: white;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 12px;
    background-color: #ffffff20;
    border-radius: 8px;
    cursor: pointer;
}

.expand-container {
    width: 150px;
    height: 0px;
    position: absolute;
}

.expand-container ul {
    position: relative;
    left: -40px;
    top: -10px;
    width: 100%;
}

.expand-container ul li {
    text-align: left;
    list-style: none;
    border: 1px solid rgb(207, 207, 207);
    border-bottom: 0px;
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 10px 0px;
    padding-left: 16px;
    cursor: pointer;
}

.expand-container ul li:hover {
    background-color: rgb(122, 122, 122);
}

.expand-container ul li:last-child {
    border-bottom: 1px solid rgb(207, 207, 207);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.expand-container ul li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#exbtn:hover {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

#exbtn:active {
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    background: #68686859;
}

#loadarrow {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 2.7px;
    margin-top: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    display: none;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.data-prev {
    background-color: #d4d4d4;
}

#content {
    white-space: pre-wrap;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #383838;
}

.contentbody {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 50%;
    min-width: 50%;
    background: rgba(175, 175, 175, 0.418);
    font-size: 18px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.createtimebody {   
    position: relative;
    width: 50%;
    text-align: right;
}

#ordermenu {
    background-color: #303030;
    border-radius: 20px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 90deg;
}

#ordermenu:hover {
    background-color: #353535;
}

#ordermenu:active {
    background-color: #151515;
}